STOCK_HISTORY_DATA_DIR=/Users/why/data/stock-history-all-2026-05-27
STOCK_FIN_DATA_DIR=/Users/why/data/stock-fin-data-xbx-2025-12-24
STOCK_CONFIG_DIR=/Users/why/Documents/Stock-MCP-Server/config
STOCK_ENV=dev
